@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>By using this website, you agree to give up all your personal information to me, and I will use it for my
    own evil purposes like tracking you or sell your data to third parties and send spam emails.</p>
<p>You will also be signing away your any right to complaint about any of this.</p>

<button class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal">
    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">Click to agree</a>
</button>