@{
    ViewData["Title"] = "Add Course";
}
<h2>@ViewData["Title"]</h2>

@Html.ActionLink("Back to List", "Index")

@using (Html.BeginForm("Index", "Courses", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <div class="row mb-3">
                    <label class="control-label col-md-2" for="name"></label>
                    <input class="form-control" id="name" type="text" placeholder="Course name"/>
                </div>
                <div class="row mb-3">
                    <label class="control-label col-md-2" for="name"></label>
                    <input class="form-control" id="name" type="text" placeholder="Course code"/>
                </div>
                <div class="row mb-3">
                    <label class="control-label col-md-2" for="description"></label>
                    <textarea class="form-control" id="description" placeholder="Course description"></textarea>
                </div>
                <div class="row mb-3">
                    <label class="control-label col-md-2" for="startDate"></label>
                    <input class="form-control" id="startDate" type="date"/>
                </div>
                <div class="row mb-3">
                    <label class="control-label col-md-2" for="endDate"></label>
                    <input class="form-control" id="endDate" type="date"/>
                </div>
                <div class="row mb-3">
                    <label class="control-label col-md-2" for="teacherId"></label>
                    <input class="form-control" id="teacherId" type="text" placeholder="Teacher ID"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}